@import "utils/styles/_colors";
@import "utils/styles/_mixins";
@import "utils/styles/_sizes";

/* VARIABLES
========================================================================== */
$navigation-hamburger-stick-width: 2.1rem;
$navigation-hamburger-stick-height: 1px;
$media-query-min-size: 1281px;
$media-query-max-size: 1280px;

.main-navigation {
  position: relative;
  padding-right: 2rem;

  &[data-is-mobile-menu-active="true"] {
    @include mediaMax($media-query-max-size) {
      .navigation-toogler__burguer {
        height: 0;

        &:before,
        &:after {
          top: 0;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      .navigation-list {
        display: flex;
        position: fixed;
        left: 0;

        width: 100vw;
        height: 100%;

        padding: $s-md;
        overflow-y: auto;

        animation: openNavigationModal $basic-transition ease 1 normal forwards;
      }
    }
  }

  /* MENU BUTTON
  ========================================================================== */
  .navigation-toogler {
    border: none;
    transition: opacity ease $basic-transition;
    background: $c-gray-4;
    padding: 1rem;

    &:hover,
    &:focus {
      opacity: 0.7;
      transition: opacity ease $basic-transition;
    }

    @include mediaMin($media-query-min-size) {
      display: none;
    }
  }

  .navigation-toogler__burguer {
    display: inline-block;
    position: relative;

    width: $navigation-hamburger-stick-width;
    height: $navigation-hamburger-stick-height;
    background-color: currentColor;

    color: $black;
    vertical-align: middle;

    &:before,
    &:after {
      position: absolute;
      left: 0;

      width: $navigation-hamburger-stick-width;
      height: $navigation-hamburger-stick-height;
      border-radius: 6px;

      background-color: currentColor;
      content: "";
      transition: all 0.3s;
    }

    &:before {
      top: -$s-zs;
    }

    &:after {
      top: $s-zs;
    }
  }

  /* MENU LIST
  ========================================================================== */
  .navigation-list {
    display: none;
    background: $white;
    color: $black;
    font-weight:bold;

    flex-direction: column;
    gap: $s-lg;

    @include mediaMin($media-query-min-size) {
      display: inline-flex;
      flex-direction: row;
      background: none;
      color: currentColor;
    }
  }

  /* CLOSE MENU BUTTON
  ========================================================================== */
  .close-button {
    position: absolute;
    top: $s-lg;
    right: 0;

    border: none;

    color: $black;
  }

  .close-button__icon {
    width: 2.4rem;
    height: 2.4rem;

    path {
      stroke: currentColor;
      stroke-width: 1px;
    }
  }

  /* ANIMATIONS
  ========================================================================== */
  // OPEN NAVIGATION MODAL ANIMATION
  @keyframes openNavigationModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
