@import '_colors';
@import '_mixins';

.organism__container {
    position: relative;
    min-height: 60rem;
    height: auto;

    &[data-style="light"] {
        color: black;
    }

  /******************************************
   *      RESPONSIVITY (media queries)      *
   ******************************************/
    @include gt-phone {

    }
   
}
