@import '_colors';
@import '_mixins';

.page__home-container {
  position: relative;

  .app {
    .button {
      display: flex;
      justify-content: flex-end;
    }
  }
  @include gt-phone {
    // TODO: add specifications for devices that are greater than phones
    // example: .content { ... }
  }
}
