@import '_colors';
@import '_mixins';

.page__home-container {
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    .navbar {
      margin-top: -2rem;
    }


  @include gt-phone {
    // TODO: add specifications for devices that are greater than phones
    // example: .content { ... }
  }
}
