*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 1.4rem;
  background-color: #fff;
  
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-smoothing: antialiased;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@import './grid-system.scss';
@import './_fonts.scss';
